.input-container {
  display: flex;
  flex-direction: column;
  padding: 0.3em;
  /* background-color: rgba(88, 218, 62, 0.224); */
  margin-top: 1em;
  margin-bottom: 2em;
  min-height: calc(100vh - 80px);
}

/* .input-container:hover {
  animation-name: color;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}  */

@keyframes color {
  0% {
    background-color: rgba(229, 215, 67, 0.25);
  }
  10% {
    background-color: rgba(186, 186, 36, 0.33);
  }
  15% {
    background-color: rgba(179, 209, 43, 0.462);
  }
  20% {
    background-color: rgba(99, 218, 111, 0.515);
  }
  25% {
    background-color: rgba(49, 183, 22, 0.643);
  }
  30% {
    background-color: rgba(56, 217, 96, 0.38);
  }
  35% {
    background-color: rgba(28, 179, 48, 0.381);
  }
  40% {
    background-color: rgba(119, 217, 226, 0.502);
  }
  45% {
    background-color: rgba(51, 172, 181, 0.778);
  }
  50% {
    background-color: rgba(15, 94, 114, 0.721);
  }
  55% {
    background-color: rgba(34, 80, 179, 0.351);
  }
  60% {
    background-color: rgba(161, 137, 206, 0.564);
  }
  65% {
    background-color: rgba(135, 99, 201, 0.514);
  }
  70% {
    background-color: rgba(97, 68, 143, 0.56);
  }
  75% {
    background-color: rgba(204, 131, 174, 0.596);
  }
  80% {
    background-color: rgba(221, 166, 222, 0.5);
  }
  85% {
    background-color: rgba(154, 82, 141, 0.433);
  }
  90% {
    background-color: rgba(151, 66, 161, 0.462);
  }
  95% {
    background-color: rgba(147, 23, 134, 0.44);
  }
  100% {
    background-color: rgba(170, 45, 147, 0.464);
  }
}

.search-input {
  border-radius: 10px;
  height: 2em;
  margin: 0.2em;
  padding-left: 0.3em;
  width: 14em;
}


.card-container {
  position: relative;
  opacity: 1;
  display: flex;
  justify-content: center;

  animation: slide-up 5s ease-in-out forwards;
  transform: translateY(50%);
}

.card-container:hover {
  z-index: 900;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.movie-card {
  border: 1px solid #ccc;
  padding: 0.5em;
  margin: 0.5em;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 60%;
  cursor: pointer;
  transition: transform 0.25s ease-in-out;
}
.movie-card:hover {
  transform: scale(1.1);
}

.movie-details {
  opacity: 1;
  transform: translateY(0);
  animation: slide-down 1.5s ease-in-out forwards;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.movie-card h2 {
  font-size: 18px;
  font-family: "Pixelify Sans", sans-serif;
}
.movie-card p {
  margin: 5px 0;
}
