.background {
  background-image: url("../../public/images/splash3.jpg");
  background-size: center;
  background-position: center;
  height: 50vh;
}
.ad {
  color: rgb(255, 255, 255);
  opacity: 0;
}
.advertisment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

.movieflex {
  font-family: "Shadows Into Light", cursive;
  font-size: 30px;
  margin-top: 3.9em;
  color: rgb(0, 0, 0);
  position: relative;
  animation: title-slide-down 3.5s ease-in-out forwards;
}
@keyframes title-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
  30% {
    opacity: 1;
    transform: translateY(0) scale(1.5);
  }
  70% {
    opacity: 1;
    transform: translateY(0) scale(1.5);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.movieflex:hover {
  cursor: pointer;
}

.new {
  font-family: "Nosifer", sans-serif;
  font-size: 50px;
  margin-top: 2.2em;

  animation: slide-in 3s ease-in-out forwards;
  transform: translateX(-50%);
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.year {
  font-family: "Pixelify Sans", sans-serif;
  animation: slide 3.5s ease-in-out forwards;
  transform: translateX(50%);
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

button {
  border: none;
}

button:hover {
  font-weight: bold;
  transform: scale(1.2);
}

/* Mellan en skärmbredd på 329 - 900px */
@media screen and (min-width: 329px) and (max-width: 900px) 
{
  .background {
    background-image: url("../../public/images/splash2.jpg");
    background-size: center;
    background-position: center;
    height: 30vh;
  }
  .new {
    font-family: "Nosifer", sans-serif;
    font-size: 40px;
    margin-top: 3.8em;
  }

  .ad {
    margin-left: 10px;
    color: rgb(8, 8, 8);
    display: flex;
  }
  .movieflex {
    display: none;
    margin: 0;
    padding: 0;
  }

  .genre-btn,
  .special-btn,
  .length-btn,
  .premiere-btn {
    padding: 1em;
    margin: 2.1em;
  }
}

@media screen and (min-width: 330px) and (max-width: 415px) {
  .genre-btn,
  .special-btn,
  .length-btn,
  .premiere-btn {
    font-size: 10px;
  }
}
/* Skärm som är mindre än 325px */
@media screen and (max-width: 328px) {
  .background {
    background-image: url("../../public/images/splash3.jpg");
    background-size: cover;
    background-position: center;
    height: 30vh;
  }
  .ad {
    color: rgb(255, 255, 255);
  }
  .movieflex {
    font-family: "Shadows Into Light", cursive;
    font-size: 20px;
    margin-top: 1.4em;
  }

  .new {
    font-family: "Nosifer", sans-serif;
    font-size: 30px;
    margin-top: 3.2em;
  }

  .year {
    font-family: "Pixelify Sans", sans-serif;
  }
  .genre-btn,
  .special-btn,
  .length-btn,
  .premiere-btn {
    padding: 0.6em;
    margin: 0.1em;
    font-size: 10px;
  }
  .genre-btn:hover,
  .special-btn:hover,
  .length-btn:hover,
  .premiere-btn:hover {
    font-weight: lighter;
    transform: scale(1);
  }
  .movie-card h2 {
    font-size: 14px;
    font-family: "Pixelify Sans", sans-serif;
  }
  .movie-card p {
    margin: 2px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
  }

  .chart-container {
    width: 100%;
    height: 100%;
  }

  .chart-p {
    font-family: "Playpen Sans", cursive;
    font-size: 10px;
  }

  .chart {
    transform: rotate(90deg);
    width: 100%;
    height: 100%;
  }
}
