* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.chart {
  width: 40em;
  display: flex;
  justify-self: center;
  animation: slowForward 5s ease;
}

@keyframes slowForward {
  0% {
    transform: scaleX(0.1) scaleY(0.1);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

.piechart {
  width: 30em;
  animation: rotateChart 3s linear; 
}

@keyframes rotateChart {
  0% {
    transform: scaleX(0.1) scaleY(0.1) rotate(0); 
  }
  100% {
    transform: scaleX(1) scaleY(1) rotate(360deg); 
  }
}


.btn-container {
  display: flex;
  justify-content: space-around;
}

button {
  border: none;
  transition: transform 0.5s, box-shadow 0.4s;
}

button:hover {
  font-weight: bold;
  transform: scale(1.2);
  box-shadow: 0em 0.5em 0.2em 0em rgb(159, 155, 155);
  transform: translateY(-50px);
  position: relative;
}

.genre-btn {
  background-image: linear-gradient(
    to right,
    #ff00cc 0%,
    #333399 51%,
    #ff00cc 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.genre-btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.length-btn {
  background-image: linear-gradient(
    to right,
    #000046 0%,
    #1cb5e0 51%,
    #4d4a4a 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.length-btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.premiere-btn {
  background-image: linear-gradient(
    to right,
    #000000 0%,
    #0f9b0f 51%,
    #4d4a4a 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.premiere-btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.special-btn {
  background-image: linear-gradient(
    to right,
    #ba8b02 0%,
    #181818 51%,
    #ba8b02 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.special-btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.chart-p {
  /* font-family: "Shadows Into Light", cursive; */
  /* font-family: "Nosifer", sans-serif; */
  /* font-family: "Pixelify Sans", sans-serif; */
  font-family: 'Playpen Sans', cursive;
  font-size: 1.5em;
  margin-bottom:1em;
}

.close-button {
  font-size: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  /* border: 2px solid hotpink; */
}

.chart-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}
